# Игнорировать все CSS-файлы при расчете статистики языков
*.css linguist-vendored

# Игнорировать конкретные папки (например, статические файлы)
/static/** linguist-vendored
/templates/** linguist-vendored

# Убедиться, что Python-файлы учитываются
*.py linguist-language=Python